---
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Card from "../../components/Card.astro";
import SkillBox from "../../components/SkillBox.astro";
import Link from "../../components/Link.astro";
import CompanyLink from "../../components/CompanyLink.astro";
import { JOB_FORM } from "../../constants";
import tabelogImage from "../../assets/images/brands/tabelog.jpg";
import mercariImage from "../../assets/images/brands/mercari.png";
import alpacaImage from "../../assets/images/brands/alpaca.jpg";
import blackImage from "../../assets/images/brands/black.jpg";
import anotherworksImage from "../../assets/images/brands/anotherworks.webp";
import rebaseImage from "../../assets/images/brands/rebase.png";
import route06Image from "../../assets/images/brands/route06.jpg";
import runpeaceImage from "../../assets/images/brands/runpeace.jpg";
import { useTranslations, type I18n } from "../../utils/i18n";
import Trans from "../../components/Trans.astro";

export { getStaticPaths } from "../../utils/i18n";

const i18n = {
  ja: {
    title: "仕事",
    test: "a",
    yuimedi: "株式会社Yuimedi",
    form: "こちら",
    description: `
      現在、{{yuimedi}}でVPoEとして働いており、複数の会社でも技術顧問として活動しています。
      お仕事の依頼等は{{form}}からお願いします。
    `,
    skill: `
      私の専門は Web パフォーマンスとフロントエンド インフラストラクチャです。
      webpack、Turborepo、Vite などのツールを使用します。 本業と
      テクニカルアドバイザーとして、主にNext.jsを使ったプロダクト開発を行っています。
    `,
  },
  en: {
    title: "Jobs",
    test: "b",
    yuimedi: "Yuimedi, inc",
    form: "this form",
    description: `
      I work as a VPoE at {{yuimedi}} and
      provide frontend development support as a technical advisor for several companies.
      Welcome to request anything so feel free to submit {{form}}.
    `,
    skill: `
      Currently, my specialty is web performance and frontend infrastructure
      using tools such as webpack, Turborepo, and Vite. In my main job and
      as a technical advisor, I mainly develop products using Next.js.
    `,
  },
} as const satisfies I18n;

const { t } = useTranslations(Astro.currentLocale, i18n);
---

<Layout>
  <MainLayout title="Jobs">
    <span slot="description">
      🐕 VPoE at Yuimedi, inc <br />
       🐈 Web technical advisor
    </span>

    <p>
      <Trans i18n={i18n} i18nKey="description">
        <slot slot="yuimedi">
          <Link
            name="Yuimedi"
            href={`https://yuimedi.com/${
              Astro.currentLocale === "en" ? "en" : ""
            }`}
          >
            {t("yuimedi")}
          </Link>
        </slot>
        <slot slot="form">
          <Link
            name="request-job"
            href={JOB_FORM}
            className="text-orange-300 italic"
          >
            {t("form")}
          </Link>
        </slot>
      </Trans>
    </p>

    <div class="flex gap-4 mt-4 flex-col">
      <Card title="Skills">
        <p>
          {t("skill")}
        </p>
        <span class="block text-right mt-4 text-sm"
          >👷 maintainer(including past)</span
        >
        <div class="grid xl:grid-cols-2 gap-4 mt-2">
          <SkillBox
            title="JavaScript"
            color="bg-javascript-dark"
            items={[
              {
                title: "Node.js 👷",
                from: 2011,
              },
              {
                title: "TypeScript",
                from: 2016,
              },
              {
                title: "React",
                from: 2015,
              },
              {
                title: "Next.js",
                from: 2017,
              },
              {
                title: "Gatsby 👷",
                from: 2017,
                to: 2021,
              },
              {
                title: "Astro",
                from: 2022,
              },
              {
                title: "Apollo",
                from: 2017,
              },
              {
                title: "Nestjs",
                from: 2020,
              },
              {
                title: "Mui",
                from: 2021,
              },
              {
                title: "ChakraUI 👷",
                from: 2020,
              },
              {
                title: "TailwindCSS",
                from: 2019,
              },
              {
                title: "Redux",
                from: 2016,
                to: 2019,
              },
              {
                title: "Electron",
                from: 2017,
              },
              {
                title: "webpack 👷",
                from: 2017,
              },
              {
                title: "Vite",
                from: 2022,
              },
              {
                title: "jQuery",
                from: 2008,
                to: 2014,
              },
            ]}
          />
          <SkillBox
            title="Others"
            color="bg-main-dark"
            items={[
              {
                title: "Go",
                from: 2022,
              },
              {
                title: "C, C++",
                from: 2008,
                to: 2015,
              },
              {
                title: "ActionScript",
                from: 2010,
                to: 2015,
              },
              {
                title: "Java",
                from: 2010,
                to: 2012,
              },
              {
                title: "OpenCV",
                from: 2014,
                to: 2015,
              },
              {
                title: "Boost",
                from: 2012,
                to: 2015,
              },
              {
                title: "GraphQL",
                from: 2017,
              },
              {
                title: "gRPC",
                from: 2020,
              },
            ]}
          />
        </div>
      </Card>
      <Card title="Technical Advisor">
        <div class="mt-4 grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-2">
          <CompanyLink
            src={tabelogImage}
            alt="tabelog"
            href="https://tabelog.com/"
          />
          <CompanyLink
            src={mercariImage}
            alt="mercari"
            href="https://jp.mercari.com/"
          />
          <CompanyLink
            src={rebaseImage}
            alt="rebase"
            href="https://www.rebase.co.jp/"
          />
          <CompanyLink
            src={runpeaceImage}
            alt="runpeace"
            href="https://www.runpeace.biz/"
          />
          <CompanyLink
            src={route06Image}
            alt="route06"
            href="https://route06.co.jp/"
          />
          <CompanyLink
            src={anotherworksImage}
            alt="anotherworks"
            href="https://anotherworks.co.jp/"
          />
          <CompanyLink
            src={alpacaImage}
            alt="alpaca"
            href="https://alpaca.markets/"
          />
          <CompanyLink src={blackImage} alt="black" href="https://by.black/" />
        </div>
      </Card>
    </div>
  </MainLayout>
</Layout>
