---
import type { GetStaticPathsOptions, Page } from "astro";
import BlogCardItem from "../../components/BlogCardItem.astro";
import BlogDescription from "../../components/BlogDescription.astro";
import Pagination from "../../components/Pagination.astro";
import SearchArticles from "../../components/SearchArticles.astro";
import TagsBox from "../../components/TagsBox.astro";
import { BLOG_DESCRIPTION } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllTags, Mdxs, sortByDate } from "../../utils/blog";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = sortByDate(await Astro.glob("./*.mdx"));

  return paginate(posts, { pageSize: 20 });
}

const posts = sortByDate(await Astro.glob("./*.mdx"));
const allTags = getAllTags(posts);
const { page } = Astro.props as {
  page: Page<Mdxs[number]>;
};
---

<Layout description={BLOG_DESCRIPTION}>
  <SearchArticles slot="header-action" />
  <MainLayout title="Blog">
    <BlogDescription slot="description" />
    <TagsBox tags={allTags} slot="optional-content" />
    <div class="gap-4 flex flex-col">
      {
        page.data.map(({ url, frontmatter }) => (
          <BlogCardItem url={url!} frontmatter={frontmatter} />
        ))
      }
    </div>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </MainLayout>
</Layout>
