---
import Layout from "../layouts/Layout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import repos from "../../generated/repos.json";
import sponsors from "../../generated/sponsors.json";
import articles from "../../generated/articles.json";
import Image from "../components/Image.astro";
import Hatena from "../components/icons/Hatena.astro";
import Link from "../components/Link.astro";
---

<Layout>
  <MainLayout title="About">
    <span slot="description">
      Hi, I'm Yuta Hiroto! I'm a Node.js and webpack committer and I like
      development and sleeping 😴
    </span>
    <div class="flex gap-5 flex-col sm:flex-row max-w-fit mx-auto items-center">
      <div class="m-auto min-w-fit">
        <Image
          src="/images/me.png"
          className="rounded-full w-24 h-24 md:w-32 md:h-32"
          alt="hiroppy"
          width={32 * 4}
          height={32 * 4}
          isOptimization
          lazy={false}
        />
      </div>
      <div class="flex-auto">
        <p>
          Hiroppy is a JavaScript engineer and working on some OSS projects and
          Japanese communities. I have lived in Japan and Ireland, and now I
          work in <Link name="Yuimedi" href="https://yuimedi.com/en" isBlank
            >Yuimedi, inc</Link
          >
          that is a medical IT company as PVoE in Japan.
        </p>
        <p>
          You can ping me on Twitter or
          <code class="bg-gray-700 p-1 rounded-lg text-gray-300 text-sm"
            >hello[at]hiroppy.me</code
          > when you have requesting for work, speech, writing, and so on are welcome
          😄
        </p>
      </div>
    </div>
    <div class="flex gap-4 mt-8 flex-col">
      <Card title="Popular Articles">
        <ol class="grid grid-cols-1 xl:grid-cols-2 gap-4">
          {
            articles
              .filter(({ hot }) => !!hot)
              .map(({ url, title, image, bookmark }) => (
                <li class="flex flex-col gap-2 items-start bg-slate-600 p-2 sm:p-3 rounded-lg justify-between">
                  <Link
                    name={title}
                    href={url}
                    isBlank
                    className="text-blue-200"
                  >
                    {title}
                  </Link>
                  <div class="flex justify-between w-full items-end text-gray-300">
                    <Image
                      src={image}
                      className="object-contain w-40 h-20"
                      alt={title}
                      width={160}
                      height={80}
                      isOptimization
                      lazy={false}
                    />
                    <div class="flex items-center text-sm gap-2">
                      <Hatena />
                      <span>{bookmark}</span>
                    </div>
                  </div>
                </li>
              ))
          }
        </ol>
      </Card>
      <Card title="Top Repositories">
        <ol class="grid grid-cols-1 xl:grid-cols-2 gap-4">
          {
            repos.hot.map(
              ({ name, image, description, url, stars, language }) => (
                <li class="flex gap-2 bg-slate-600 p-2 sm:p-3 rounded-lg">
                  <Image
                    src={image}
                    className="w-8 h-8 rounded-full"
                    alt={name}
                    width={8 * 4}
                    height={8 * 4}
                    isOptimization
                  />
                  <div class="flex flex-col text-sm flex-1 gap-2">
                    <Link
                      name={name}
                      href={url}
                      isBlank
                      className="text-blue-200 text-lg"
                    >
                      {name}
                    </Link>
                    <span class="break-all flex-1">{description}</span>
                    <div class="flex justify-between items-center">
                      <div class="flex gap-2 items-center">
                        <svg
                          class="h-4 w-4 text-gray-300"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" />{" "}
                          <path d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" />
                        </svg>
                        <span>{stars.toLocaleString()}</span>
                      </div>
                      <div class="flex items-center gap-1">
                        <div
                          class={`${
                            language === "JavaScript"
                              ? "bg-javascript"
                              : language === "TypeScript"
                              ? "bg-typescript"
                              : language === "CSS"
                              ? "bg-css"
                              : ""
                          } w-2 h-2 rounded-full`}
                        />
                        <span>{language}</span>
                      </div>
                    </div>
                  </div>
                </li>
              )
            )
          }
        </ol>
      </Card>
      <Card title="Sponsors">
        <p class="my-2">Thank you for your support</p>
        <div class="flex flex-wrap gap-2">
          {
            sponsors.current.map(({ name, href, avatar }) => (
              <Link name={name} href={href} isBlank>
                <Image
                  src={avatar}
                  alt={name}
                  className="rounded-full w-12 h-12"
                  isOptimization
                  width={12 * 4}
                  height={12 * 4}
                />
              </Link>
            ))
          }
          {
            sponsors.past.map(({ name, href, avatar }) => (
              <Link href={href} isBlank name={name ?? "private user"}>
                <Image
                  src={avatar ?? ""}
                  alt={name ?? "private user"}
                  className="rounded-full w-12 h-12"
                  isOptimization
                  width={12 * 4}
                  height={12 * 4}
                />
              </Link>
            ))
          }
        </div>
      </Card>
    </div>
  </MainLayout>
</Layout>
