---
import SnsIcon from "./SnsIcon.astro";
import { PAGE_LINKS } from "../constants";
import GitHub from "./icons/GitHub.astro";

const currentMenu = PAGE_LINKS.find(({ href }) =>
  href === "/" ? Astro.url.pathname === href : Astro.url.pathname.includes(href)
) ?? {
  icon: "😵",
  title: "not found",
};
---

<header
  class="h-10 border-b-2 border-b-slate-700 sticky top-0 z-50 backdrop-blur transition-colors duration-500 bg-slate-800/70"
>
  <div class="container mx-auto px-4 flex items-center justify-between h-full">
    <div class="text-gray-300">
      <div class="flex lg:hidden items-center gap-1">
        <input id="check01" type="checkbox" name="menu" class="hidden peer" />
        <label for="check01" class="select-none"
          >{currentMenu.icon} {currentMenu.title}</label
        >
        <svg
          class="w-4 h-4 shrink-0 peer-checked:rotate-180 text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>

        <div
          class="hidden peer-checked:block absolute top-10 z-50 w-32 rounded-lg border shadow-sm bg-gray-700 border-gray-600 py-2"
        >
          <ul class="flex gap-2 flex-col">
            {
              PAGE_LINKS.map(({ title, href, icon }) => (
                <li class="mx-2">
                  <a href={href} class="w-full block">
                    {icon} {title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <SnsIcon href="https://github.com/hiroppy/site" name="GitHub">
      <GitHub />
    </SnsIcon>
  </div>
</header>
