---
import { load } from "cheerio";
import Image from "./Image.astro";
import { writeFileSync, readFileSync } from "node:fs";
import Card from "./Card.astro";
import CardContent from "./CardContent.astro";
import CardTitle from "./CardTitle.astro";

type Props = {
  url: string;
};

const { url } = Astro.props;
const generatedFilePath = new URL(
  "../../generated/ogp.json",
  // astroはbuild時に自身ではなくdist/entry.mjsに向けてしまう
  import.meta.url,
);
const ogp = JSON.parse(readFileSync(generatedFilePath, "utf8"));
let title = "";
let description = "";
let image = "";

if (ogp[url]) {
  title = ogp[url].title;
  description = ogp[url].description;
  image = ogp[url].image;
} else {
  try {
    const html = await fetch(url).then((res) => res.text());
    const $ = load(html);

    title = $("meta[property='og:title']").attr("content") ?? $("title").text();
    description =
      $("meta[property='og:description']").attr("content") ??
      $("meta[name='description']").attr("content") ??
      "";
    image = $("meta[property='og:image']").attr("content") ?? "";

    if (image && !image.startsWith("http")) {
      image = `${new URL(url).origin}/${image}`;
    }
  } catch (error) {
    if (error instanceof Error) {
      console.warn(`Failed to fetch OG data for ${url}:`, error.message);
    }

    title = url;
    description = "";
    image = "";
  }

  if (import.meta.env.PROD) {
    const ogp = JSON.parse(readFileSync(generatedFilePath, "utf8"));

    writeFileSync(
      generatedFilePath,
      JSON.stringify(
        {
          ...ogp,
          [url]: {
            title,
            description,
            image,
          },
        },
        null,
        2,
      ),
    );
  }
}
---

<Card link={{ href: url, isBlank: true }} class="bg-gray-100 dark:bg-gray-700">
  <CardContent class="flex justify-between gap-3">
    <div class="flex flex-1 flex-col gap-1">
      <CardTitle level={3} class="text-base">
        {title}
      </CardTitle>
      <span class="text-sm text-gray-600 dark:text-gray-300">
        {
          description && description.length > 100
            ? `${description?.slice(0, 100)}...`
            : description
        }
      </span>
    </div>
    {
      image && (
        <div class="hidden h-32 max-h-40 max-w-52 sm:block">
          <Image
            src={image}
            alt={title}
            class="h-full w-full rounded-sm object-cover"
            width={60}
            height={40}
          />
        </div>
      )
    }
  </CardContent>
</Card>
