---
import SnsIcon from "./SnsIcon.astro";
import Twitter from "./icons/Twitter.astro";
import Hatena from "./icons/Hatena.astro";
import { SITE_TITLE } from "../constants";

type Props = {
  url: string;
  title: string;
};

const { url, title } = Astro.props;
const sharedTitle = `${title} - ${SITE_TITLE}`;
const twitter = `https://twitter.com/share?url=${url}&text=${sharedTitle}&related=about_hiroppy`;
const twitterFollow =
  "https://twitter.com/intent/follow?screen_name=about_hiroppy";
const hatena = `https://b.hatena.ne.jp/entry/panel/?url=${url}&title=${sharedTitle}#bbutton`;
---

<div class="share-buttons flex flex-row gap-4 mt-4 items-center justify-center">
  <SnsIcon name="twitter" href={twitter} text="Tweet">
    <Twitter />
  </SnsIcon>
  <SnsIcon name="twitter" href={twitterFollow} text="Follow">
    <Twitter />
  </SnsIcon>
  <SnsIcon name="hatena" href={hatena} text="Bookmark" className="w-4 h-4">
    <Hatena />
  </SnsIcon>
</div>
