---
import Icon from "./Icon.astro";
import Hatena from "./icons/Hatena.astro";
import Link from "./Link.astro";
import { SITE_TITLE } from "../constants";

type Props = {
  url: string;
  title: string;
};

const { url, title } = Astro.props;
const sharedTitle = `${title} - ${SITE_TITLE}`;
const twitter = `https://twitter.com/share?url=${url}&text=${sharedTitle}&related=about_hiroppy`;
const twitterFollow =
  "https://twitter.com/intent/follow?screen_name=about_hiroppy";
const hatena = `https://b.hatena.ne.jp/entry/panel/?url=${url}&title=${sharedTitle}#bbutton`;
---

<div class="share-buttons flex flex-row items-center justify-center gap-4">
  <Link
    href={twitter}
    class="flex items-center gap-2 text-gray-600 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-300"
    aria-label="Tweet"
  >
    <Icon icon="mdi:twitter" width="20" height="20" />
    <span>Tweet</span>
  </Link>
  <Link
    href={twitterFollow}
    class="flex items-center gap-2 text-gray-600 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-300"
    aria-label="Follow on Twitter"
  >
    <Icon icon="mdi:twitter" width="20" height="20" />
    <span>Follow</span>
  </Link>
  <Link
    href={hatena}
    class="flex items-center gap-2 text-gray-600 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-300"
    aria-label="Link for hatena"
  >
    <Hatena className="h-4 w-4" />
    <span>Bookmark</span>
  </Link>
</div>
