---
type Props = {
  color: `bg-${string}`;
  title: string;
  items: {
    title: string;
    from: number;
    to?: number;
  }[];
};

const { color, title, items } = Astro.props;
---

<div class={`p-2 rounded z-0 ${color}`}>
  <h3 class="font-bold text-slate-100">{title}</h3>
  <div class="mt-2 grid gap-1 sm:grid-cols-2">
    {
      items.map(({ title, from, to = "" }) => (
        <div class="flex items-center justify-between px-1">
          <span class="text-slate-100">{title}</span>
          <span class="text-sm text-slate-300">{`${from} - ${to}`.trim()}</span>
        </div>
      ))
    }
  </div>
</div>
