---
import Link from "./Link.astro";

type Props = {
  href: string;
  name: string;
  text?: string;
  class?: string;
  textClass?: string;
};

const {
  href,
  name,
  text,
  class: className = "w-5 h-5",
  textClass,
} = Astro.props;
---

<Link
  href={href}
  class="flex items-center gap-2 text-gray-600 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-300"
  ariaLabel={`Link for ${name}`}
>
  <svg
    class={className}
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <slot />
  </svg>
  {text && <span class={textClass}>{text}</span>}
</Link>
