---
import Card from "../components/Card.astro";
import Image from "../components/Image.astro";
import GitHub from "./icons/GitHub.astro";
import Pencil from "./icons/Pencil.astro";
import Youtube from "./icons/Youtube.astro";
import Link from "./Link.astro";
import SnsIcon from "./SnsIcon.astro";

type Props = {
  items: DataItem[];
};

const { items } = Astro.props;
---

<ol class="relative border-l border-gray-500 ml-4">
  {
    items.map(
      (
        {
          title,
          description,
          url,
          publishedAt,
          image,
          appendixes,
          siteName,
          siteUrl,
          icon,
          prefixForTitle,
        },
        i
      ) => (
        <li class="mb-10 ml-6 relative">
          <span class="flex absolute -left-11 justify-center items-center w-10 h-10 bg-slate-700 rounded-full text-lg border-gray-500 border-2">
            {icon}
          </span>
          <div class="ml-2">
            <Card>
              <div class="justify-between mb-3 sm:flex items-baseline gap-2">
                <time class="mb-1 text-xs font-normal sm:order-last sm:mb-0 block">
                  {publishedAt}
                </time>
                <div class="text-sm font-normal flex-1">
                  {prefixForTitle}{" "}
                  <a
                    href={url}
                    class="font-semibold text-blue-300 hover:underline"
                    target="_blank"
                  >
                    {title}
                  </a>{" "}
                  {siteName && (
                    <>
                      on
                      {siteUrl ? (
                        <Link
                          href={siteUrl}
                          isBlank
                          name={siteName}
                          className="text-blue-200"
                        >
                          {siteName}
                        </Link>
                      ) : (
                        <span class="text-blue-200">{siteName}</span>
                      )}
                    </>
                  )}
                </div>
              </div>
              <div class="mt-4 flex gap-5 break-all">
                {image && (
                  <Image
                    src={image}
                    className="object-contain h-24 w-24"
                    alt={title}
                    width={24 * 4}
                    height={24 * 4}
                    isOptimization
                    lazy={i > 5}
                  />
                )}
                <div class="flex-1">
                  <p class="text-gray-100 text-xs">{description}</p>
                  {appendixes && (
                    <div class="mt-4">
                      {Object.entries(appendixes).map(([key, value]) => (
                        <SnsIcon href={value!} name={key}>
                          {key === "github" && <GitHub />}
                          {key === "youtube" && <Youtube />}
                          {key === "blog" && <Pencil />}
                        </SnsIcon>
                      ))}
                    </div>
                  )}
                </div>
              </div>
            </Card>
          </div>
        </li>
      )
    )
  }
</ol>
