---
import { formatDate } from "../utils/formatDate";
import Layout from "./Layout.astro";
import MainLayout from "./MainLayout.astro";
import Paper from "../components/Paper.astro";
import type { MarkdownLayoutProps } from "astro/dist/@types/astro";
import ShareButtons from "../components/ShareButtons.astro";
import { parseTags, sortByDate } from "../utils/blog";
import Link from "../components/Link.astro";
import { HATENA_BLOG_URL } from "../constants";
import SnsIcon from "../components/SnsIcon.astro";
import GitHub from "../components/icons/GitHub.astro";
import BlogDescription from "../components/BlogDescription.astro";

const { frontmatter, headings } =
  Astro.props as MarkdownLayoutProps<BlogFrontmatter>;
const date = formatDate(new Date(frontmatter.date));
const indices = headings.filter((heading) => heading.depth < 4);
const diffDate =
  (new Date().getTime() - new Date(frontmatter.date).getTime()) /
  (60 * 60 * 1000 * 24);
const { title, url, description, image, tags } = frontmatter;
// HMRで重くなるため、dev環境ではglobをさせない
const posts = import.meta.env.PROD
  ? sortByDate(await Astro.glob("../pages/blog/*.mdx"))
  : [];
const index = posts.findIndex(
  ({ url }) => url === Astro.url.pathname.replace(/\/$/, "" /* for prod */)
);
const githubUrl = `https://github.com/hiroppy/site/tree/main/src/pages/${Astro.url.pathname}.mdx`;
---

<Layout title={title} description={description} image={image}>
  <MainLayout title={title}>
    <BlogDescription slot="description" />
    <Paper slot="optional-content">
      <div class="p-4">
        <p>🔖 Index</p>
        <ol class="mt-4">
          {
            indices.map(({ slug, text, depth }) => (
              <li style={{ marginLeft: `${(depth - 1) * 12}px` }}>
                <a href={`#${slug}`} class="text-sm hover:text-blue-300">
                  - {text}
                </a>
              </li>
            ))
          }
        </ol>
      </div>
    </Paper>
    <div class="flex gap-4 mb-10 justify-end items-center text-sm">
      <p>{date}</p>
      <SnsIcon
        name="GitHub"
        href={githubUrl}
        text="Edit"
        className="w-4 h-4 text-blue-300"
        textClassName="text-blue-300"
      >
        <GitHub />
      </SnsIcon>
    </div>
    <div class="flex gap-4 mb-8 flex-col">
      {
        parseTags(tags).includes("javascript") && diffDate > 365 && (
          <div class="bg-yellow-500 p-3 rounded-md">
            <span class="text-gray-800 text-sm">
              🚨 This article hasn't been updated in over a year
            </span>
          </div>
        )
      }
      {
        frontmatter.hatenaPath && (
          <div class="bg-gray-800 p-3 mb-8 rounded-md text-sm">
            💁‍♀️ This post was copied from{" "}
            <Link
              name="Hatena"
              href={`${HATENA_BLOG_URL}/${frontmatter.hatenaPath}`}
              isNoReferrer={false}
              isBlank
            >
              Hatena Blog
            </Link>
          </div>
        )
      }
    </div>
    <div class="blog text-gray-300">
      <slot />
    </div>
    <hr class="border-gray-600 mt-12" />
    <div>
      <ShareButtons url={`${Astro.site?.origin}${url!}`} title={title} />
      {
        index !== -1 && (
          <div class="flex justify-between mt-10 flex-col md:flex-row gap-2 text-center">
            {index !== 0 ? (
              <Link
                name={posts[index - 1].frontmatter.title}
                href={posts[index - 1].url!}
              >{`< ${posts[index - 1].frontmatter.title}`}</Link>
            ) : (
              <div />
            )}
            {index !== posts.length - 1 && (
              <Link
                name={posts[index + 1].frontmatter.title}
                href={posts[index + 1].url!}
              >{`${posts[index + 1].frontmatter.title} >`}</Link>
            )}
          </div>
        )
      }
    </div>
  </MainLayout>
</Layout>
<style is:global>
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4 {
    @apply font-semibold text-gray-50 mt-10 mb-1;
  }
  .blog h1 {
    @apply text-2xl;
  }
  .blog h2 {
    @apply text-xl;
  }
  .blog h3 {
    @apply text-lg;
  }
  .blog h4 {
    @apply text-base;
  }
  .blog code:not(pre > *) {
    @apply text-gray-100 text-sm;
  }
  .blog code:not(pre > *)::before {
    content: "`";
  }
  .blog code:not(pre > *)::after {
    content: "`";
  }
  .blog ul {
    @apply list-hyphen pl-4 my-2;
  }
  .blog p {
    @apply my-4;
  }
  .blog pre {
    @apply p-4 text-sm rounded-lg;
  }
  .blog a {
    @apply text-blue-300;
  }
  .blog hr {
    @apply my-4 border-gray-500;
  }
  .blog img {
    @apply mx-auto max-h-72;
  }
  .blog strong {
    @apply font-semibold text-teal-400;
  }
  .blog blockquote {
    @apply px-4 border border-gray-600 border-l-blue-300 border-l-2;
  }
  .blog table {
    @apply border-collapse table-auto w-full text-sm;
  }
  .blog th {
    @apply border-b border-gray-600  p-4 pl-8 pt-0 text-gray-200 text-left;
  }
  .blog tbody {
    @apply bg-gray-800;
  }
  .blog td {
    @apply border-b border-slate-700 p-4 pl-8 text-gray-400;
  }
</style>
