---
import Footer from "../components/Footer.astro";
import GA from "../components/GA.astro";
import Header from "../components/Header.astro";

const title = Astro.url.pathname.slice(1);
const siteTitle = "hiroppy's site";
const siteDescription =
  "Hiroppy is a JavaScript engineer and working on some OSS projects and Japanese communities.";
---

<!DOCTYPE html>
<html lang="en" class="bg-slate-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteDescription} />
    <meta property="theme-color" content="#3498db" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:title" content="hiroppy's site" />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content="/images/me.webp" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:creator" content="@about_hiroppy" />
    <title>{siteTitle} - {title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {
      Astro.url.pathname === "/" && (
        <link rel="canonical" href="https://hiroppy.me" />
      )
    }
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
  </head>
  <body>
    <Header />
    <div class="container mx-auto py-5 lg:py-20 min-h-screen px-2 sm:px-4">
      <slot />
    </div>
    <Footer />
    <style>
      html {
        font-size: 17px;
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
  {import.meta.env.PROD && <GA />}
</html>
